<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="">
  <div class="container mx-auto">
    <div class="font-mono prose prose-green ">
      <br>
      <div class=" bg-blue-200">
        {{ content }}
      </div>
    </div>
  </div>
  </body>
</html>
